src/main/app/auto-publish-content.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:amqp="http://www.mulesoft.org/schema/mule/amqp" xmlns:schedulers="http://www.mulesoft.org/schema/mule/schedulers" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/schedulers http://www.mulesoft.org/schema/mule/schedulers/current/mule-schedulers.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/amqp http://www.mulesoft.org/schema/mule/amqp/current/mule-amqp.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <flow name="auto-publish-contentFlow">
        <poll doc:name="Poll every day (0 0 0 1 * ?)">
            <fixed-frequency-scheduler frequency="1000" timeUnit="DAYS"/>
            <logger message="Starting autopublishing of items older than 6 months" level="INFO" doc:name="Starting autopublishing of items older than 6 months"/>
        </poll>
        <flow-ref name="initialize_dates" doc:name="initialize_dates"/>
        <flow-ref name="initialize_looping_variables" doc:name="initialize_looping_variables"/>
        <logger message="#[payload.totalNrOfResults] items will be published" level="INFO" doc:name="X items will be published"/>
        <flow-ref name="loop_over_pages" doc:name="loop_over_pages"/>
        <amqp:outbound-endpoint queueName="${rabbit.notificationqueue}" responseTimeout="10000" connector-ref="AMQP_0_9_Connector" doc:name="Notify the mailer to start working!"/>
    </flow>
    <sub-flow name="initialize_dates">
        <set-variable variableName="currentDateTime" value="#[server.dateTime]" doc:name="Set currentDateTime"/>
        <set-variable variableName="startDate" value="#[&quot;1985:01:01&quot;]" doc:name="Set startDate"/>
        <set-variable variableName="endDate" value="#[new org.mule.el.datetime.DateTime(flowVars.currentDateTime).plusMonths(-0).format(&quot;yyyy:MM:dd&quot;)]" doc:name="Set endDate"/>
        <logger message="Publishing items from #[flowVars.startDate] until #[flowVars.endDate]..." level="INFO" doc:name="Publishing items from Y until Z"/>
    </sub-flow>
    <sub-flow name="initialize_looping_variables">
        <http:request config-ref="Mediahaven_Rest_API" path="/media/" method="GET" doc:name="Retrieve totalNrOfResults">
            <http:request-builder>
                <http:query-param paramName="q" value="+((MediaObjectArchiveStatus:on_tape OR MediaObjectArchiveStatus:on_disk) AND MediaObjectArchiveDate:[&quot;#[flowVars.startDate]&quot; TO &quot;#[flowVars.endDate]&quot;] AND (MediaObjectType:video OR MediaObjectType:audio OR MediaObjectType:document) AND MediaObjectFragmentisiningestspace:1)"/>
                <http:query-param paramName="nrOfResults" value="1"/>
                <http:query-param paramName="sort" value="MediaObjectArchiveDate"/>
                <http:query-param paramName="direction" value="asc"/>
                <http:header headerName="Authorization" value="${mediahaven.authstring}"/>
            </http:request-builder>
        </http:request>
        <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object"/>
        <set-variable variableName="nrOfResults" value="#[payload.totalNrOfResults]" doc:name="Set nrOfResults"/>
        <set-variable variableName="pageCounter" value="#[(int) Math.round(Math.ceil((flowVars.nrOfResults / '${pagesize}')))]" doc:name="Set pageCounter"/>
        <set-variable variableName="pages" value="#[new java.lang.Integer[flowVars.pageCounter]]" doc:name="Set pages"/>
    </sub-flow>
    <sub-flow name="loop_over_pages">
        <foreach collection="#[java.util.Arrays.asList(flowVars.pages)]" doc:name="For each page" counterVariableName="pageCounter">
            <set-variable variableName="startIndex" value="#[(flowVars.pageCounter - 1) * '${pagesize}']" doc:name="Set startIndex"/>
            <logger message="Querying from index #[flowVars.startIndex]" level="INFO" doc:name="Logger"/>
            <enricher source="#[payload]" target="#[flowVars.searchResults]" doc:name="Set searchResults">
                <http:request config-ref="Mediahaven_Rest_API" path="/media/" method="GET" doc:name="HTTP">
                    <http:request-builder>
                        <http:query-param paramName="q" value="+((MediaObjectArchiveStatus:on_tape OR MediaObjectArchiveStatus:on_disk) AND MediaObjectArchiveDate:[&quot;#[flowVars.startDate]&quot; TO &quot;#[flowVars.endDate]&quot;] AND (MediaObjectType:video OR MediaObjectType:audio OR MediaObjectType:document) AND MediaObjectFragmentisiningestspace:1)"/>
                        <http:query-param paramName="nrOfResults" value="${pagesize}"/>
                        <http:query-param paramName="sort" value="MediaObjectArchiveDate"/>
                        <http:query-param paramName="direction" value="asc"/>
                        <http:query-param paramName="startIndex" value="#[flowVars.startIndex]"/>
                        <http:header headerName="Authorization" value="${mediahaven.authstring}"/>
                    </http:request-builder>
                </http:request>
            </enricher>
            <set-payload value="#[flowVars.searchResults]" doc:name="Set Payload to searchResults"/>
            <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object"/>
            <set-payload value="#[payload.mediaDataList]" doc:name="Set Payload to mediaDataList"/>
            <flow-ref name="loop_over_assets" doc:name="loop_over_assets"/>
        </foreach>
    </sub-flow>
    <sub-flow name="loop_over_assets">
        <foreach collection="#[payload]" doc:name="For each asset" counterVariableName="assetCounter">
            <flow-ref name="publish_asset" doc:name="publish_asset"/>
        </foreach>
    </sub-flow>
    <sub-flow name="publish_asset">
        <set-variable variableName="fragmentId" value="#[payload.fragmentId]" doc:name="Set fragmentId"/>
        <enricher source="#[payload[0].name]" target="#[flowVars.cp]" doc:name="Message Enricher">
            <db:select config-ref="MAM_Snapshot" doc:name="Get organisation name for this fragment">
                <db:parameterized-query><![CDATA[SELECT o.name FROM mediaobjects mo INNER JOIN organisations o ON o.organisation_id = mo.organisation_id
WHERE mo.mediaobject_id = #[payload.mediaObjectId];]]></db:parameterized-query>
            </db:select>
        </enricher>
        <logger message="Sending request to publish #[flowVars.fragmentId] (#[payload.originalFileName])" level="INFO" doc:name="Publishing [fragmentId] ([originalFileName])"/>
        <dw:transform-message doc:name="Create publish message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	correlation_id: flowVars.fragmentId,
	fragment_id: flowVars.fragmentId,
	cp: flowVars.cp
}]]></dw:set-payload>
        </dw:transform-message>
        <amqp:outbound-endpoint queueName="${rabbit.publishqueue}" responseTimeout="10000" connector-ref="AMQP_0_9_Connector" doc:name="Send a publish request"/>
<!--         <http:request config-ref="Mediahaven_Rest_API" path="/media/#[flowVars.fragmentId]/publish" method="POST" doc:name="Publish asset"> -->
<!--             <http:request-builder> -->
<!--                 <http:header headerName="Authorization" value="${mediahaven.authstring}"/> -->
<!--             </http:request-builder> -->
<!--         </http:request> -->
    </sub-flow>
</mule>
